<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="assets/LearnEaseLogo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/confirmationForm.css">
    <link rel="stylesheet" href="style/header.css">
    <link rel="stylesheet" href="style/auth.css">
    <link rel="stylesheet" href="style/sidebar.css">
    <link rel="stylesheet" href="style/myLesson.css">
    <link rel="stylesheet" href="style/card.css">
    <title>Learn Ease</title>
</head>

<body>
    <div id="app">
        <!-- Auth form. -->
        <main v-if="currentPage === 'login'">
            <div id="auth" class="container d-flex justify-content-center align-items-center min-vh-100">
                <div class="row border rounded-4 p-3 box-area shadow">
                    <!-- Left container. -->
                    <div
                        class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box">
                        <div class="featured-image mb-3">
                            <img src="assets/LearnEaseLogo.png" class="img-fluid auth-img">
                        </div>
                        <h3 class="f2-2">{{ leftTitle }}</h3>
                        <small class="text-wrap text-center slogan text-muted small">{{ leftSlogan }}</small>
                    </div>
                    
                    <!-- Right container. -->
                    <div class="col-md-6 right-box">
                        <div class="row align-item-center">
                            <div class="header-text mb-4">
                                <h2>{{ headerTitle }}</h2>
                                <p>{{ headerSubtitle }}</p>
                            </div>

                            <div class="input-group">
                                <input type="text" class="form-control form-control-lg bg-light fs-6"
                                    placeholder="Email" v-model="email" v-on:input="validateAuthField('email')">
                            </div>
                            <span class="text-danger small"  v-if="authErrors.email">{{ authErrors.email }}</span>

                            <div class="input-group mt-3">
                                <input type="password" class="form-control form-control-lg bg-light fs-6"
                                    placeholder="Password" v-model="password" v-on:input="validateAuthField('password')">
                            </div>
                            <span class="text-danger small"  v-if="authErrors.password">{{ authErrors.password }}</span>

                            <div class="input-group mt-3" v-if="currentForm != 'login'">
                                <input type="password" class="form-control form-control-lg bg-light fs-6"
                                    placeholder="Confirm Password" v-model="confirmPassword" v-on:input="validateAuthField('confirmPassword')">
                            </div>
                            <span class="text-danger small"  v-if="authErrors.confirmPassword">{{ authErrors.confirmPassword }}</span>

                            <div class="input-group mt-3 d-flex justify-content-between" v-if="currentForm === 'login'">
                                    <small>
                                        <a href="" v-on:click.prevent="switchForm('reset')">Forget Password ?</a>
                                    </small>
                            </div>

                            <div class="input-group mt-3">
                                <button class="btn btn-lg w-100 fs-6" v-on:click.prevent="submitAction">
                                    {{ actionText }}
                                </button>
                            </div>

                            <div class="d-flex justify-content-between mt-3">
                                <div>
                                    <small v-if="currentForm === 'login'">Don't have an account?
                                        <a href="" v-on:click.prevent="switchForm('signup')">Sign Up</a>
                                    </small>
                                    <small v-else-if="currentForm === 'signup'">Already have an account?
                                        <a href="" v-on:click.prevent="switchForm('login')">Login</a>
                                    </small>
                                    <small v-else-if="currentForm === 'reset'">
                                        Remember your password?
                                        <a href="" v-on:click.prevent="switchForm('login')">Login</a>
                                    </small>
                                </div>
                                <div>
                                    <small>
                                        <a href="" v-on:click.prevent="handleAuthBack()">Go Back</a>
                                    </small>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main>

        <div v-else>
            <!-- Header component. -->
            <header id="header" class="navbar navbar-expand-lg fixed-top shadow-sm">
                <div class="container-fluid">
                    <a class="navbar-brand d-flex align-items-center" href="" v-on:click.prevent="setPage('home')">
                        <img src="assets/LearnEaseLogo.png" width="50" height="50" class="me-2" alt="Logo">
                        <span class="d-none d-lg-inline">Learn Ease</span>
                    </a>

                    <div class="collapse navbar-collapse" id="navbarContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <button class="nav-link btn-link" :class="{ active: currentPage === 'home' }"
                                    v-on:click.prevent="setPage('home')">
                                    Home
                                    <i class="fa fa-home"></i>
                                </button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link btn-link" :class="{ active: currentPage === 'lesson' }"
                                    v-on:click.prevent="setPage('lesson')">
                                    My Lesson
                                    <i class="fa fa-book"></i>
                                </button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link btn-link" :class="{ active: currentPage === 'shoppingCart' }"
                                    v-on:click.prevent="toggleCartPage" :disabled="cart.length === 0"
                                    :title="cart.length === 0 ? 'Cart is empty. Add items to checkout.' : ''">
                                    shopping cart
                                    <i class="fa fa-shopping-cart"></i>
                                    ({{this.cart.length}})
                                </button>
                            </li>

                            <li class="nav-item d-block d-md-none mt-2">
                                <button v-if="!isAuth" class="btn btn-primary w-100" v-on:click.prevent="openAuthForm()">
                                    Sign In
                                </button>
                                <button v-else class="btn btn-secondary w-100" v-on:click.prevent="logOut()">
                                    Log Out
                                </button>
                            </li>
                        </ul>
                    </div>


                    <form class="d-flex align-items-center search-form" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search"
                        v-model="searchQuery" v-on:input="onSearchInput">
                        <button class="btn btn-outline-primary fa fa-search" type="submit" v-on:click.prevent="searchLessons"></button>
                    </form>

                    <div class="d-none d-md-flex align-items-center">
                        <button v-if="!isAuth" class="btn btn-primary me-2" v-on:click.prevent="openAuthForm()">
                            Sign In
                        </button>
                        <button v-else class="btn btn-secondary me-2" v-on:click.prevent="logOut()">
                            Log Out
                        </button>
                    </div>


                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </header>

            <main>
                <div class="row">
                    <!-- Sidebar component. -->
                    <div class="col-md-2" v-if="currentPage === 'home'">
                        <aside id="sidebar">
                            <div class="sort-section">
                                <button v-if="isSmallScreen" class="btn" v-on:click.prevent="toggleFilters">
                                    {{ showFilters ? 'Hide Filters' : 'Show Filters' }}
                                </button>
                                <div v-show="showFilters">
                                    <h5>Sort Lessons</h5>
                                    <div class="mb-2 filter-group">
                                        <label class="form-label">Attribute</label>
                                        <select v-model="sortAttribute" class="form-select" v-on:change="sortLessons">
                                            <option v-for="option in sortOptions" :key="option.value"
                                                :value="option.value">
                                                {{ option.text }}
                                            </option>
                                        </select>
                                    </div>
                                    <hr>
                                    <div>
                                        <label class="form-label">Order</label>
                                        <select v-model="sortOrder" class="form-select" v-on:change="sortLessons">
                                            <option value="asc">Ascending</option>
                                            <option value="desc">Descending</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div :class="currentPage === 'home' ? 'col-md-10' : 'col-md-12'">
                        <div id="mainContent">
                            <div class="mt-5 content">
                                <!-- Home page. -->
                                <div v-if="currentPage === 'home'">
                                    <div class="container-fluid mt-4 pt-4">
                                        <div v-if="lessons.length === 0" class="text-center text-muted mt-4">
                                            <span v-if="searchQuery.trim() !== ''">
                                                No lessons found matching "{{ searchQuery }}"
                                            </span>
                                            <span v-else>
                                                No lessons added yet.
                                            </span>
                                        </div>
                                        <div class="cart-item card shadow-sm mb-3" v-for="lesson in lessons"
                                            :key="lesson._id">
                                            <div class="row">
                                                <div
                                                    class="col-5 col-md-3 cart-image-container d-flex align-items-center justify-content-center">
                                                    <img v-bind:src="base_url + lesson.image" class="img-fluid auth-img">
                                                </div>

                                                <div class="col-7 col-md-9 p-3 d-flex flex-column cart-details">
                                                    <div class="lesson-title" :title="lesson.name">{{ lesson.name }}
                                                    </div>

                                                    <div class="lesson-desc" :title="lesson.description">{{
                                                        lesson.description }}</div>

                                                    <div class="mt-2 d-flex gap-2 flex-wrap">
                                                        <div class="text-secondary subject-text">
                                                            Subject: <span>{{ lesson.topic }}</span>
                                                        </div>
                                                    </div>

                                                    <div class="price-location mt-auto">
                                                        <span :class="['badge', getAvailabilityClass(lesson)]">
                                                            Spaces Available: {{ getRemainingSpace(lesson) }} / {{lesson.space }}
                                                            <br>
                                                            <span>{{ getAvailabilityText(lesson) }}</span>
                                                        </span>

                                                        <div class="fw-bold">Rs {{ lesson.price }}</div>
                                                        <div class="text-secondary small">Location: {{ lesson.location }}</div>
                                                    </div>

                                                    <div class="mt-2 d-flex align-items-center">
                                                        <button
                                                            class="me-2"
                                                            v-if="getCartItem(lesson)"
                                                            @click="decreaseQuantity(lesson)"
                                                        >
                                                            -
                                                        </button>
                                                        <button
                                                            class="btn btn-sm d-flex justify-content-center align-items-center"
                                                            :disabled="getRemainingSpace(lesson) === 0"
                                                            @click="handleAddToCart(lesson)"
                                                        >
                                                            {{ getCartItem(lesson) ? "Add +1 to cart" : "Add to cart" }}
                                                        </button>
                                                        <span v-if="getCartItem(lesson)">
                                                            <i class="fa fa-shopping-cart ms-2"></i>
                                                            {{ getCartItem(lesson).quantity }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Lesson page. -->
                                <div v-else-if="currentPage === 'lesson'">
                                    <div class="lesson-page container pt-4">
                                        <!-- Add new lesson section. -->
                                        <button class="lesson-add btn mb-3" v-on:click.prevent="openLessonForm">
                                            Add Lesson
                                            <i class="fa fa-plus"></i>
                                        </button>
                                        <div v-if="showLessonForm" class="mb-3 p-3 border rounded lesson-form">
                                            <h4>{{ isEditing ? 'Edit Lesson' : 'Add Lesson' }}</h4>
                                            <form v-on:submit.prevent="submitLesson">
                                                <div class="mb-2">
                                                    <label for="name">Lesson Name</label>
                                                    <input type="text" class="form-control" id="name"
                                                        placeholder="Name" v-model="lessonForm.name"
                                                        v-on:input="validateLessonField('name')" required>
                                                    <span class="text-danger">{{ lessonErrors.name }}</span>
                                                </div>
                                                <div class="mb-2">
                                                    <label for="description">Lesson Description</label>
                                                    <textarea type="text" class="form-control" id="description"
                                                        placeholder="Description" v-model="lessonForm.description"
                                                        v-on:input="validateLessonField('description')" required></textarea>
                                                    <span class="text-danger">{{ lessonErrors.description }}</span>
                                                </div>
                                                <div class="mb-2">
                                                    <label for="subject">Subject</label>
                                                    <input type="text" class="form-control" id="subject"
                                                        v-model="lessonForm.topic" placeholder="Subject"
                                                        v-on:input="validateLessonField('topic')" required>
                                                    <span class="text-danger">{{ lessonErrors.topic }}</span>
                                                </div>
                                                <div class="mb-2">
                                                    <label for="location">Location</label>
                                                    <input type="text" class="form-control" id="location"
                                                        v-model="lessonForm.location" placeholder="Location"
                                                        v-on:input="validateLessonField('location')" required>
                                                    <span class="text-danger">{{ lessonErrors.location }}</span>
                                                </div>
                                                <div class="mb-2">
                                                    <label for="space">Total Space</label>
                                                    <input type="tel" class="form-control" id="space"
                                                        v-model="lessonForm.space" placeholder="Total Space"
                                                        v-on:input="validateLessonField('space')" required>
                                                    <span class="text-danger">{{ lessonErrors.space }}</span>
                                                </div>
                                                <div class="mb-2">
                                                    <label for="price">Price (Rs)</label>
                                                    <input type="tel" class="form-control" id="price"
                                                        v-model="lessonForm.price" placeholder="Price (Rs)"
                                                        v-on:input="validateLessonField('price')" required>
                                                    <span class="text-danger">{{ lessonErrors.price }}</span>
                                                </div>
                                                <div class="mb-2">
                                                    <label for="image">Lesson Image</label>
                                                    <select class="form-control" id="image" v-model="lessonForm.image" v-on:change="validateLessonField('image')">
                                                        <option disabled value="">-- Select an image --</option>
                                                        <option v-for="img in imageOptions" :key="img.name" :value="img.file">
                                                            {{ img.name }}
                                                        </option>
                                                    </select>
                                                    <span class="text-danger">{{ lessonErrors.image }}</span>
                                                </div>

                                                <div v-if="isEditing">
                                                    <hr>

                                                    <h5 class="mb-3">Enrolled Students</h5>

                                                    <table class="table table-sm">
                                                        <thead>
                                                            <tr>
                                                                <th>Email</th>
                                                                <th>Space bought</th>
                                                                <th style="width:120px">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr v-if="lessonForm.students.length === 0">
                                                                <td colspan="2">No student has enrolled yet.</td>
                                                            </tr>

                                                            <tr v-for="student in paginatedStudents"
                                                                :key="student.email">
                                                                <td>{{ student.email }}</td>
                                                                <td>{{ student.space }}</td>
                                                                <td>
                                                                    <button class="btn btn-sm btn-danger"
                                                                        v-on:click.prevent="removeStudentFromStudent(student, {})">
                                                                        Remove
                                                                        <i class="fa fa-trash-o"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <div class="mb-3 d-flex justify-content-between align-items-center"
                                                        v-if="(lessonForm.students || []).length > 0">
                                                        <div>
                                                            <small>Showing
                                                                {{ Math.min((studentPage-1)*5)+1,
                                                                (lessonForm.students.length) }}
                                                                -
                                                                {{ Math.min(studentPage*5, (lessonForm.students ||
                                                                []).length) }}
                                                                of {{ (lessonForm.students || []).length }}
                                                            </small>
                                                        </div>

                                                        <div>
                                                            <button class="btn pagination-controls btn-sm me-2"
                                                                :disabled="studentPage === 1"
                                                                v-on:click.prevent="prevPage">
                                                                <i class="fa fa-chevron-left"></i> Previous
                                                            </button>

                                                            <button class="btn pagination-controls btn-sm"
                                                                :disabled="studentPage >= Math.ceil(lessonForm.students.length / 5)"
                                                                v-on:click.prevent="nextPage">
                                                                Next <i class="fa fa-chevron-right"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-success">
                                                    {{ isEditing ? 'Update' : 'Save' }}
                                                    <i class="fa fa-floppy-o"></i>
                                                </button>
                                                <button type="button" class="btn btn-secondary ms-2"
                                                    v-on:click.prevent="closeLessonForm()">
                                                    Cancel
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </form>
                                        </div>

                                        <hr class="mt-2 mb-2">
                                        
                                        <!-- Taught lesson section. -->
                                        <div v-if="taughtLessons.length > 0">
                                            <h4>My Lesson</h4>

                                            <table class="table table-bordered lesson-table">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Subject</th>
                                                        <th>Location</th>
                                                        <th>Total Space</th>
                                                        <th>Space avaliable</th>
                                                        <th>Price (Rs)</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-if="taughtLessons.length === 0" class="text-center">
                                                        <td colspan="6">No Taught Lessons Available.</td>
                                                    </tr>
                                                    <tr v-else="taughtLessons.length > 0" v-for="lesson in taughtLessons"
                                                        :key="lesson._id">
                                                        <td>{{ lesson.name }}</td>
                                                        <td>{{ lesson.topic }}</td>
                                                        <td>{{ lesson.location }}</td>
                                                        <td>{{ lesson.space }}</td>
                                                        <td>{{ lesson.availableSpace }}</td>
                                                        <td>{{ lesson.price }}</td>
                                                        <td>
                                                            <button class="btn btn-sm btn-warning me-2"
                                                                v-on:click="editLesson(lesson)">
                                                                Edit
                                                                <i class="fa fa-pencil"></i>
                                                            </button>
                                                            <button class="btn btn-sm btn-danger"
                                                                v-on:click="deleteLesson(lesson)">
                                                                Delete
                                                                <i class="fa fa-trash"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <hr class="mt-2 mb-2">
                                        </div>

                                        <!-- Enrolled in section section. -->
                                        <h4>Enrolled Lesson</h4>
                                        <table class="table table-bordered lesson-table">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>Subject</th>
                                                    <th>Location</th>
                                                    <th>Price (Rs)</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-if="enrolledLessons.length === 0 " class="text-center">
                                                    <td colspan="6">Not enrolled in any lesson.</td>
                                                </tr>
                                                <tr v-else="lessons.length > 0" v-for="lesson in enrolledLessons"
                                                    :key="lesson._id">
                                                    <td>{{ lesson.name }}</td>
                                                    <td>{{ lesson.description }}</td>
                                                    <td>{{ lesson.topic }}</td>
                                                    <td>{{ lesson.location }}</td>
                                                    <td>{{ lesson.price }}</td>
                                                    <td>
                                                        <button class="btn btn-sm btn-danger me-2"
                                                            v-on:click="removeStudentFromStudent({}, lesson)">
                                                            Leave Lesson
                                                            <i class="fa fa-user-times"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- Shopping cart page. -->
                                <div v-else-if="currentPage === 'shoppingCart'" class="container mt-4">
                                    <h2 class="pt-3 mb-3">Shopping Cart</h2>
                                    <!-- Lesson in cart section. -->
                                    <table class="table table-bordered" v-if="cart.length > 0">
                                        <thead class="table-light">
                                            <tr>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>Subject</th>
                                                <th>Location</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in cartWithLessonDetails" :key="item._id">
                                                <td>{{ item.name }}</td>
                                                <td>{{ item.description }}</td>
                                                <td>{{ item.topic }}</td>
                                                <td>{{ item.location }}</td>
                                                <td>{{ item.price }}</td>
                                                <td>
                                                    <div class="d-flex align-items-center">


                                                        <button class="btn btn-sm btn-primary me-2" v-on:click.prevent="decreaseQuantity(item)">-</button>
                                                        <span>{{ item.quantity }}</span>
                                                        <button class="btn btn-sm btn-primary ms-2" v-on:click.prevent="increaseQuantity(item)" :disabled="getRemainingSpace(item) === 0">+</button>
                                                    </div>
                                                </td>
                                                <td>
                                                    <button class="btn btn-danger btn-sm" v-on:click.prevent="removeFromCart(item)">
                                                        Remove
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div v-else class="alert alert-info">
                                        Your cart is empty.
                                    </div>

                                    <hr>

                                    <!-- Checkout section. -->
                                    <div class="mt-4">
                                        <h3>Checkout</h3>
                                        <div class="mb-3">
                                            <label for="checkoutName" class="form-label">Name:</label>
                                            <input type="text" class="form-control" id="checkoutName"
                                            placeholder="Name" v-model="checkoutForm.name"
                                            v-on:input="validateCheckoutField('name')" required>
                                            <small class="text-danger">{{ checkoutErrors.name }}</small>
                                        </div>

                                        <div class="mb-3">
                                            <label for="checkoutPhone" class="form-label">Phone:</label>
                                            <input type="text" class="form-control" id="checkoutPhone"
                                            placeholder="Phone" v-model="checkoutForm.phone"
                                            v-on:input="validateCheckoutField('phone')" required>
                                            <small class="text-danger">{{ checkoutErrors.phone }}</small>
                                        </div>

                                        <button class="btn btn-success" :disabled="!isCheckoutFormValid" v-on:click="submitOrder">
                                            Checkout
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </main>
        </div>
    </div>

    <script src="javascript/main.js"></script>
</body>

</html>